extends layout

block content
  .container-fluid.mx-4.my-4
    //- Asset Category List Header
    .row.mb-4
      .col-12
        h1.text-center.mb-4 Asset Category List

    //- Form to Add Asset Category
    .row.mb-4
      .col-md-12
        .card.bg-light.border-primary.shadow-lg
          .card-body
            h5.card-title.text-primary Add New Asset Category
            form(action='/assetCategories/add' method='POST')
              .row
                .col-md-6.mb-3
                  .form-group
                    label(for='name') Category Name
                    input.form-control(type='text' id='name' name='name' placeholder='Enter category name' required)
                .col-md-6.mb-3
                  .form-group
                    label(for='description') Description
                    textarea.form-control(id='description' name='description' placeholder='Enter category description' required)
              .form-group.mt-3
                button.btn.btn-primary.btn-lg(type='submit') Add Category

    //- Data Table with Scroll
    .row
      .col-12
        .table-responsive
          table.table.table-striped.table-bordered#assetCategoryTable
            thead.bg-primary.text-white
              tr
                th Name
                th Description
                th Actions
            tbody
              each category in categories
                tr
                  td= category.name
                  td= category.description
                  td
                    button.btn.btn-warning.btn-sm(type='button', data-toggle='modal', data-target=`#editModal${category.id}`) Edit
                    button.btn.btn-danger.btn-sm(type='button', data-toggle='modal', data-target=`#deleteModal${category.id}`) Delete

                    //- Modal for Editing
                    .modal.fade(id=`editModal${category.id}`, tabindex='-1', role='dialog')
                      .modal-dialog(role='document')
                        .modal-content
                          .modal-header
                            h5.modal-title Edit Asset Category
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              span(aria-hidden='true') ×
                          .modal-body
                            form(action=`/assetCategories/edit/${category.id}` method='POST')
                              .form-group
                                label(for='name') Category Name
                                input.form-control(type='text' id='name' name='name' value=category.name required)
                              .form-group
                                label(for='description') Description
                                textarea.form-control(id='description' name='description' required)= category.description
                              button.btn.btn-primary(type='submit') Save changes
                          .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Close

                    //- Modal for Deleting
                    .modal.fade(id=`deleteModal${category.id}`, tabindex='-1', role='dialog')
                      .modal-dialog(role='document')
                        .modal-content
                          .modal-header
                            h5.modal-title Delete Asset Category
                            button.close(type='button', data-dismiss='modal', aria-label='Close')
                              span(aria-hidden='true') ×
                          .modal-body
                            p Are you sure you want to delete this asset category?
                          .modal-footer
                            button.btn.btn-secondary(type='button', data-dismiss='modal') Cancel
                            a.btn.btn-danger(href=`/assetCategories/delete/${category.id}`) Delete

  //- Scripts
  script(src='https://code.jquery.com/jquery-3.5.1.min.js')
  script(src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js')
  script.
    $(document).ready(function() {
      $('#assetCategoryTable').DataTable({
        responsive: true,
        "scrollY": "400px",
        "scrollCollapse": true,
        "paging": true
      });
    });
